<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for [@station, @booking] do |f| %>
        <%= f.input :date %>
        <%= f.input :price %>
        <%= f.select :kitchen_id, current_user.kitchens.map { |kitchen| [kitchen.name, kitchen.id] } %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
