<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table>
        <thead>
          <tr>
            <th>Dish Name</th>
            <th>Quantity</th>
            <th>Item Price</th>
          </tr>
        </thead>
        <tbody>
          <% @line_items.each do |line_item| %>
            <tr>
              <td><%= line_item.item.dish %> </td>
              <td><%= line_item.quantity %> </td>
              <%= items_sum = line_item.item.price * line_item.quantity %>
              <td><%= items_sum %> </td>
              <td><%#= items_sum %> </td>
            </tr>
          <% end %>
          <tr>
            <td>Sum</td>
            <td><%= @line_items.map(&:quantity).sum %></td>
            <td><%= @line_items.map(&:item).map(&:price).flatten.sum %> </td>
          </tr>
        </tbody>
      </table>
      <p>Your order will be delivered to</p>
      <%= @order.user.address %>
    </div>
  </div>
</div>



