<div class="progress">
  <ul>
    <li class="completed">
      <%= cl_image_tag("search5_fgf5xp.png") %><br>
      <i class="fas fa-check"></i>
      <p>Search</p>
    </li>
    <li class="completed">
      <%= cl_image_tag("add_to_cart2_cx2k6l.png") %><br>
      <i class="fas fa-check"></i> 
      <p>Add to cart</p>
    </li>
    <li class="in-progress">
      <%= cl_image_tag("review.png_vblhbv.png") %><br>
      <i class="fas fa-sync-alt"></i>
      <p>Review your order</p>
    </li>
    <li>
      <%= cl_image_tag("payment.png") %><br>
      <i class="fas fa-times-circle"></i>
      <p>Payment</p>
    </li>
    <li>
      <%= cl_image_tag("enjoy.png") %><br>
      <i class="fas fa-times-circle"></i>
      <p>Enjoy</p>
    </li>
  </ul>
</div>