<div class="my-container w-container">
  <div class="cart-reservation w-form">
    <%= render 'shared/progress_bar' %>
  </div>
</div>

<div class="section pattern-section no-top-padding">
  <div class="wrapper w-container">
    <div class="cart-reservation w-form">
      <div class="container cart-page">
        <h3 class="text-center">Review your order</h3>
        <table class="cart-table">
          <tr>
            <th class="cart-text">Items</th>
            <th class="cart-text">Quantity</th>
            <th class="cart-text text-right">Subtotal</th>
          </tr>
          <% @cart.line_items.each do |line_item| %>
            <tr>
              <td class="item-data">
                <div class="cart-info">
                  <% if line_item.item.photo.attached? %>
                    <%= cl_image_tag line_item.item.photo.key, class: "img-cart" %>
                  <% end %>
                  <div>
                    <h4 class="item-tag"><%= line_item.item.dish.capitalize %></h4>
                    <small>Price: £<%= line_item.item.price %></small>
                    <br>
                    <%= link_to '', line_item, class: 'far fa-trash-alt icon-black', method: :delete %>
                    <%#= link_to 'Delete item', line_item, method: :delete %>
                  </div>
                </div>
              </td>
              <td class="item-data"><input type="number" value="<%= line_item.quantity %>"></td>
              <td class="item-data">£<%= line_item.total_price %></td>
            </tr>
          <% end %>
        </table>
        <div class="total-price">
          <table class="total-table">
            <tr>
              <td class="item-data">Subtotal</td>
              <td class="item-data">£<%= @cart.total_price %></td>
            </tr>
            <tr>
              <td class="item-data">VAT</td>
              <td class="item-data">£<%=  total = (@cart.total_price * 20) / 100 %></td>
            </tr>
              <tr>
              <td class="item-data">Total</td>
              <td class="item-data">£<%= total + @cart.total_price %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="container d-flex justify-content-between mt-4">
      <%#= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-primary" %>
      <%= link_to 'Keep Shopping', kitchens_path, class: 'main-button' %>
      <%= link_to 'Checkout', cart_orders_path(@cart), method: :post, class: 'main-button' %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container d-flex justify-content-between">
  <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-primary" %>
  <%= link_to 'Checkout', cart_orders_path(@cart), method: :post, class: 'btn btn-primary' %>
</div>



      <div class="container mt-3">
      <%= link_to 'Keep Shopping', kitchens_path, class: 'btn btn-primary' %>
      </div> -->
