
<div class="bg-section-kitchen page-hero-section menu-hero">

    <div class="wrapper w-container">
    <h1 class="page-hero-header">All Menus</h1>
    </div>
</div>

<div class="index-postcode-hero-section pattern-section">
  <div class="wrapper w-container" data-aos="fade-up" data-aos-duration="3000">
    <div class="section-header-wrapper-postcode">
      <h2>Congratulations! 🎉  We deliver to <%= params[:postcode] %></h2>
    </div>
  </div>
</div>


<div class="index-postcode-hero-section pattern-section">
  <div class="wrapper w-container">
    <div class="section-header-wrapper">
      <div class="divider"></div>
    </div>
  </div>
</div>


<div class="index-hero-section pattern-section">
  <div class="wrapper w-container">
    <div class="kitchen-cards"></div>
    <div class="kitchen-cards w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <% @kitchens.each do |kitchen| %>
          <div class="kitchen-card" data-aos="fade-up" data-aos-duration="3000">
            <div class="kitchen-card-info">
              <div class="kitchen-card-content"><a href="" class="badge kitchen-card-category"></a>
                <div href="" class="kitchen-card-header-link w-inline-block">
                <h3><%= kitchen.name %></h3>
                </div>
                <div class="divider"></div>
                <p class="grey-text">by <%= kitchen.user.name %></p>
                <div class="kitchen-card-cuisine"><%= kitchen.cuisine %></div>
                <div>
                <%= link_to "Explore This Menu", kitchen_path(kitchen), class: "main-button" %>
                </div>
              </div>
              <div class="frame"></div>
            </div>
            <% if kitchen.photo.attached? %>
            <div class="kitchen-card-image w-inline-block">
            <%= cl_image_tag kitchen.photo.key %>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="index-bg-section cta-section">
  <div class="wrapper w-container">
    <div class="cta-content">
      <h1><em>Still looking?</em></h1>
      <a href="#Top" class="main-button">Back to Top</a></div>
  </div>
</div>
