<p>Yay!🎉 we can deliver to <%= params[:postcode] %>.  Explore the kitchens below</p>
<div class="section pattern-section">
  <div class="wrapper w-container">
    <div class="blog-posts"></div>
    <div class="blog-posts w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <% @kitchens.each do |kitchen| %>
          <div class="post-card">
            <div class="post-card-info">
              <div class="post-card-content"><a href="" class="badge post-card-category"></a>
                <a href="" class="post-card-header-link w-inline-block">
                <h3><%= kitchen.name %></h3>
                </a>
                <div class="divider"></div>
                <p class="grey-text">fdsfdsfdsfds</p>
                <div class="post-card-date"><%= kitchen.cuisine %></div>
                <div>
                <%= link_to "Explore Kitchen", kitchen_path(kitchen), class: "main-button" %>
                </div>
              </div>
              <div class="frame"></div>
            </div>
            <% if kitchen.photo.attached? %>
            <div class="post-card-image w-inline-block">
            <%= cl_image_tag kitchen.photo.key %>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

